@{
    ViewBag.Title = "Tablero de Control";
}
<div class="row">
    <div class="col-md-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title"><i class="far fa-chart-bar nav-icon"></i>&nbsp; Tablero de control de las verificaciones</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-valign-middle">
                        <thead>
                            <tr class="bg-primary">
                                <th>Semana</th>
                                <th rowspan="2">Frecuencia Semanal</th>

                                <th class="bg-orange" colspan="2">CDR (> 70%)</th>

                                <th class="bg-pink" colspan="2">CDP (> 70%)</th>

                                <th class="bg-info" rowspan="2">VP (1 al mes)</th>
                                <th class="bg-success" rowspan="2">IGP (1 al mes)</th>

                                <th class="bg-gray" colspan="7">CUMPLIMIENTO (> 70%)</th>

                                <th rowspan="2">Formatos Llenos</th>
                            </tr>
                            <tr>
                                <td class="text-center font-weight-bold">1</td>

                                <th class="bg-orange">DdD</th>
                                <th class="bg-orange">Ruta 5S</th>

                                <th class="bg-pink">Hoja de Ruta</th>
                                <th class="bg-pink">Merma / Laminado</th>

                                <th class="bg-gray">S1</th>
                                <th class="bg-gray">S2</th>
                                <th class="bg-gray">S3</th>
                                <th class="bg-gray">S4</th>
                                <th class="bg-gray">S5</th>
                                <th class="bg-gray">MES</th>
                                <th class="bg-gray">Fuera de Fecha</th>
                            </tr>
                        </thead>
                        <tbody class="text-center">
                            <tr>
                                <th rowspan="2" class="bg-primary">Director</th>
                                <th class="bg-primary">Rol/Proc</th>

                                <th rowspan="2"><i class="text-success">2</i> / <i class="text-success">83%</i></th>
                                <th rowspan="2"><i class="text-success">1</i> / <i class="text-danger">20%</i></th>

                                <th rowspan="2"><i class="text-success">1</i> / <i class="text-danger">30%</i></th>
                                <th rowspan="2">/</th>

                                <th rowspan="2"><i class="text-success">1</i></th>
                                <th rowspan="2"><i class="text-success">1</i></th>

                                <th rowspan="2"><i class="text-success">90 %</i></th>
                                <th rowspan="2"><i class="text-success">90 %</i></th>
                                <th rowspan="2"><i class="text-success">80 %</i></th>
                                <th rowspan="2"><i class="text-success">100 %</i></th>
                                <th rowspan="2"><i class="text-success"></i></th>
                                <th rowspan="2"><i class="text-success">90 %</i></th>

                                <th rowspan="2"><i class="text-success">0</i></th>

                                <th rowspan="2">
                                    <button class="btn btn-block btn-link">Ver Verificaciones</button>
                                </th>
                            </tr>
                            <tr>
                                <th><i>3</i> / <i>1</i></th>
                            </tr>

                            <tr>
                                <th rowspan="2" class="bg-primary">Jefe de Planta</th>
                                <th class="bg-primary">Rol / Proc</th>

                                <th rowspan="2"><i class="text-success">2</i> / <i class="text-success">81%</i></th>
                                <th rowspan="2"><i class="text-danger">1</i> / <i class="text-success">80%</i></th>

                                <th rowspan="2">/</th>
                                <th rowspan="2"><i class="text-success">1</i> / <i class="text-success">80%</i></th>

                                <th rowspan="2"><i class="text-danger">0</i></th>
                                <th rowspan="2"><i class="text-success">1</i></th>

                                <th rowspan="2"><i class="text-success">80 %</i></th>
                                <th rowspan="2"><i class="text-success">80 %</i></th>
                                <th rowspan="2"><i class="text-success">80 %</i></th>
                                <th rowspan="2"><i class="text-success">80 %</i></th>
                                <th rowspan="2"><i class="text-success"></i></th>
                                <th rowspan="2"><i class="text-success">80 %</i></th>

                                <th rowspan="2"><i class="text-danger">1</i></th>

                                <th rowspan="2">
                                    <button class="btn btn-block btn-link">Ver Verificaciones</button>
                                </th>
                            </tr>
                            <tr>
                                <th><i>4</i> / <i>1</i></th>
                            </tr>

                            <tr>
                                <th colspan="2" class="bg-primary">Calificación (%)</th>
                                <th class="text-success">82 %</th>
                                <th class="text-danger">50 %</th>
                                <th class="text-danger">30 %</th>
                                <th class="text-success">80 %</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-bordered table-valign-middle">
                        <thead>
                            <tr class="bg-primary">
                                <th class="bg-white"></th>
                                <th>Enero</th>
                                <th>Febrero</th>
                                <th>Marzo</th>
                                <th>Abril</th>
                                <th>Mayo</th>
                                <th>Junio</th>
                                <th>Julio</th>
                                <th>Agosto</th>
                                <th>Septiembre</th>
                                <th>Octubre</th>
                                <th>Noviembre</th>
                                <th>Diciembre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <th class="bg-primary">Cumplimiento</th>
                                <th class="text-success">85 %</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr class="text-center">
                                <th class="bg-primary">Cumplimiento CdR</th>
                                <th class="text-success">90 %</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr class="text-center">
                                <th class="bg-primary">Cumplimiento CdP</th>
                                <th class="text-success">90 %</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>