<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - ALICORP</title>
    <!-- Favicon -->
    <link href="~/favicon.ico" rel="icon" type="image/vnd.microsoft.icon" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Animatecss -->
    <link href="~/Content/plugins/animatecss/animate.css" rel="stylesheet" />
    <!-- jQuery -->
    <script src="~/Content/plugins/jquery/jquery.min.js"></script>
    <!-- Site -->
    <link href="~/Content/css/site.css" rel="stylesheet" />
</head>
<body class="hold-transition sidebar-mini text-sm">
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-light">
            @{ Html.RenderAction("TopMenu", "Home", new { area = "" }); }
        </nav>
        <!-- /.navbar -->

        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link navbar-dark text-white">
                <img src="~/Content/images/logo.png"
                     alt="Logo"
                     class="brand-image"
                     style="opacity: .8">
                <span class="brand-text font-weight-light">LICORP</span>
            </a>

            @{ Html.RenderAction("LeftMenu", "Home", new { area = "" }); }
        </aside>

        <div class="content-wrapper">
            <!-- Main content -->
            <section class="content">

                @RenderBody()

            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright © @DateTime.Today.Year <a href="http://www.alphamanufacturas.com/" target="_blank">ALPHAMANUFACTURAS</a>.</strong>
            Todos los derechos reservados.
            <div class="float-right d-none d-sm-inline-block">
                <b>Versión</b> 0.1.1
            </div>
        </footer>
    </div>

    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.min.js"></script>
    <!-- Helper-->
    <script src="~/Content/js/helper.js"></script>
</body>
</html>