<div class="sidebar">
    <div class="user-panel d-flex align-items-center text-light">
        <div class="image">
            <img src="~/Content/images/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <span class="d-block"><i class="fa fa-user-alt"></i>&nbsp; Junior Sulca</span>
            <span class="d-block"><i class="fas fa-map-marked-alt"></i>&nbsp; Planta</span>
            <span class="d-block"><i class="fa fa-building"></i>&nbsp; Célula</span>
        </div>
    </div>
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent nav-legacy" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-file-signature"></i>
                    <p>
                        Compromisos
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Compromiso/Index" class="nav-link">
                            <i class="fa fa-user-tag nav-icon"></i>
                            <p>Mis compromisos</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Compromiso/Administracion" class="nav-link">
                            <i class="far fa-list-alt nav-icon"></i>
                            <p>Administración</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Compromiso/Tablero" class="nav-link">
                            <i class="far fa-calendar-alt nav-icon"></i>
                            <p>Tableros</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-list"></i>
                    <p>
                        Lista de Verif.
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/ListaVerificacion/Index" class="nav-link">
                            <i class="fa fa-user-check nav-icon"></i>
                            <p>Mis verificaciones</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ListaVerificacion/Modelar" class="nav-link">
                            <i class="far fa-list-alt nav-icon"></i>
                            <p>Modelar</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/ListaVerificacion/Tablero" class="nav-link">
                            <i class="far fa-chart-bar nav-icon"></i>
                            <p>Tableros</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fa fa-building"></i>
                    <p>
                        Administración
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="/Estructura/Index" class="nav-link">
                            <i class="fa fa-sitemap nav-icon"></i>
                            <p>Estructura Org.</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Area/Index" class="nav-link">
                            <i class="fab fa-buromobelexperte nav-icon"></i>
                            <p>Áreas</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Instancia/Index" class="nav-link">
                            <i class="fa fa-table nav-icon"></i>
                            <p>Instancias</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Empleado/Index" class="nav-link">
                            <i class="fa fa-users nav-icon"></i>
                            <p>Empleados</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/Cargo/Index" class="nav-link">
                            <i class="fa fa-id-card nav-icon"></i>
                            <p>Cargos</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-shield-alt"></i>
                    <p>
                        Seguridad
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            <i class="fa fa-users nav-icon"></i>
                            <p>Usuario</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            <i class="fa fa-bookmark nav-icon"></i>
                            <p>Rol</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            <i class="fa fa-file nav-icon"></i>
                            <p>Página</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="javascript:void(0)" class="nav-link">
                            <i class="fa fa-sitemap nav-icon"></i>
                            <p>Menú</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>

