<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
    </li>
    <li class="nav-item d-none d-sm-inline-block">
        <a href="/" class="nav-link">Inicio</a>
    </li>
</ul>

<ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            JSULCA &nbsp;
            <i class="far fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="/Account/Logout" class="dropdown-item">
                <i class="fas fa-user-lock mr-2"></i> Cambiar Clave
            </a>
            <div class="dropdown-divider"></div>
            <a href="/Account/Logout" class="dropdown-item">
                <i class="fas fa-power-off mr-2"></i> Cerrar sesión
            </a>
        </div>
    </li>
</ul>