@model List<Estructura>
@{
    ViewBag.Title = "Mis tableros";
}
<div class="row">
    <div class="col-12">
        <div class="card card-default">
            <div class="card-header">
                <h3 class="card-title"><i class="far fa-calendar-alt"></i>&nbsp;Mis Tableros</h3>
            </div>
        </div>
    </div>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6">
                <div class="card card-widget widget-user-2">

                    <div class="card-header bg-info">
                        <h3 class="card-title"><i class="far fa-calendar-alt"></i>&nbsp;@item.Descripcion</h3>
                    </div>
                    <div class="card-body p-0">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <span class="nav-link">
                                    NUEVO
                                    <span class="float-right badge bg-light">5</span>
                                </span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">
                                    PENDIENTE
                                    <span class="float-right badge bg-pink">20</span>
                                </span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">
                                    FUERA DE FECHA
                                    <span class="float-right badge bg-danger">100</span>
                                </span>
                            </li>
                            <li class="nav-item">
                                <span class="nav-link">
                                    POR VERIFICAR
                                    <span class="float-right badge bg-warning">40</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/Compromiso/Gestion/@item.Id" class="btn btn-warning"><i class="fa fa-calendar-alt"></i>&nbsp; Gestionar</a>
                    </div>
                </div>
            </div>
        }
    }
</div>