@{
    ViewBag.Title = "Registro Masivo de Empleados";

    List<Cargo> cargos = ViewBag.Cargos;
    List<Area> areas = ViewBag.Areas;
}

<div class="row">
    <div class="col-12">
        <div class="card card-success-border">
            <div class="card-header">
                <h3 class="card-title"><i class="fab fa-buromobelexperte"></i>&nbsp;@ViewBag.Title</h3>
            </div>
            <div class="card-body">
                <div id="Error"></div>
                <div class="text-center">
                    <button id="btnNuevo" type="button" class="btn btn-info btn-sm"><i class="fa fa-plus"></i>&nbsp; Nuevo</button>
                    <button id="btnRegresar" class="btn btn-warning btn-sm"><i class="fa fa-chevron-left"></i>&nbsp; Regresar</button>
                    <button id="btnGuardar" type="button" class="btn btn-primary btn-sm"><i class="fa fa-save"></i>&nbsp; Guardar</button>
                </div>
                <hr />
                <div class="table-responsive">
                    <table id="tblEmpleado" class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr class="bg-primary">
                                <th width="20"></th>
                                <th width="20">Cargo</th>
                                <th width="20">Area</th>
                                <th width="20">Nombres</th>
                                <th width="20">Apellido Paterno</th>
                                <th width="20">Apellido Materno</th>
                                <th width="20">Nro. Documento</th>
                                <th width="20">Correo</th>
                                <th width="20">Telefono</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var index = {
        ObtenerModelo: function () {
            var model = {};
            return model;
        }
    };


    $(function () {
        $('#btnNuevo').click(function () {
            var tr = `
                    <tr>
                        <td class="text-center"><a class="text-danger option eliminar"><i class="fa fa-trash"></i></a></td>
                        <td><select class="form-control form-control-sm cargo">
                        @foreach(var item in cargos)
                        {
                            <option value="@item.Id">@item.Descripcion</option>
                        }
                        </select></td>

                        <td><select class="form-control form-control-sm area">
                        @foreach(var item in areas)
                        {
                            <option value="@item.Id">@item.Descripcion</option>
                        }
                        </select></td>
                        <td><input class="form-control form-control-sm text-uppercase nombre" /></td>
                        <td><input class="form-control form-control-sm text-uppercase apellido-paterno" /></td>
                        <td><input class="form-control form-control-sm text-uppercase apellido-materno" /></td>
                        <td><input class="form-control form-control-sm text-uppercase nro-documento" /></td>
                        <td><input class="form-control form-control-sm text-uppercase correo" /></td>
                        <td><input class="form-control form-control-sm text-uppercase telefono" /></td>
                    </tr>
                `;
            $('#tblEmpleado tbody').append(tr);
        });

        $('#btnRegresar').click(function () {
            var cantidad = $('#tblEmpleado tbody tr').length;
            if (cantidad > 0) {
                if (confirm('¿Esta seguro de salir de la página?')) location.href = '/Empleado/Index';
            } else location.href = '/Empleado/Index';
        });
    });

</script>
