@{
    ViewBag.Title = "Lista de Colores";
}
<div class="row">
    <div class="col-12">
        <div class="card card-success-border">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-tint"></i>&nbsp;Lista de Colores</h3>
            </div>
            <div class="card-body">
                <div id="Error"></div>
                <div class="text-right">
                    <button id="btnNuevo" type="button" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>&nbsp; Nuevo</button>
                </div>
                <hr />
                <div class="table-responsive">
                    <table id="tblColor" class="table table-sm table-bordered table-hover">
                        <thead>
                            <tr class="bg-primary">
                                <th width="20"></th>
                                <th width="20">#</th>
                                <th>Descripción</th>
                                <th width="100">RGBA</th>
                                <th width="100">HEX</th>
                                <th width="100">CLASE</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="modal-ventana">
    <div id="ventana-container"></div>
</div>

<script>
    var index = {
        Listar: function () {
            var table = $("#tblColor");
            $.ajax({
                url: "/Color/Listar",
                type: "GET",
                dataType: "json",
                beforeSend: function (xhr) { },
                complete: function () { },
                success: function (data) {
                    if (data.length == 0) table.children('tbody').append("<tr><td colspan='7' class='text-center'>No existen registros</td></tr>");
                    else index.GenerarTabla(table, data);
                },
                error: function (data) {
                    helper.errorShow('#Error', data.responseText)
                }
            });
        },
        GenerarTabla: function (table, lista) {
            var tbody = table.children('tbody');
            tbody.children('tr').remove();
            var rows = '';
            $.each(lista, function (i, r) {
                rows += `<tr>
                            <td><a class="text-warning option editar" data-id="${r.Id}"><i class="fa fa-pencil-alt"></i></a></td>
                            <td class="text-right">${i + 1}</td>
                            <td>${ r.Descripcion}</td>
                            <td class="text-center">${ r.Rgba || ""}</td>
                            <td class="text-center">${ r.Hex || ""}</td>
                            <td class="text-center">${ r.Clase || ""}</td>
                        </tr>`;
            });
            tbody.append(rows);
        },
        AbrirModal: function (url, model) {
            $.ajax({
                type: "GET",
                url: url,
                data: model,
                cache: false,
                beforeSend: function () {
                    helper.wait.modal('ventana-container');
                    $('#modal-ventana').modal();
                },
                success: function (data) {
                    $('#ventana-container').html(data);
                },
                error: function (result) {
                    $('#modal-ventana').modal('hide');
                    helper.errorShow('#Error', result.responseText);
                }
            });
        }
    };


    $(function () {
        index.Listar();

        $('#btnNuevo').click(function () {
            index.AbrirModal('/Color/Nuevo', { callBack: 'SetColor' });
        });

        $('#tblColor tbody').delegate('a.editar', 'click', function () {
            var id = this.dataset.id;
            index.AbrirModal('/Color/Editar', { callBack: 'SetColor', id });
        });

    });

    var SetColor = function () {
        $('#modal-ventana').modal('hide');
        index.Listar();
    }
</script>
